name: ci

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - ".github/workflows/deploy-mock.yaml"
      - "MWTmock/**"

permissions:
  contents: read
  id-token: write

jobs:
  build:
    name: Build and push Docker container
    runs-on: ubuntu-latest
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          fetch-depth: 0 # Fetch all history for what-changed action
      - name: Determine what to do
        id: changed-files
        uses: nais/what-changed@bc3dad0463b36ad29044134bba5898f0af73c34c
        with:
          files: .nais/prod.yaml,.nais/dev.yaml
      - name: Push docker image to GAR
        if: steps.changed-files.outputs.changed != 'only-inputs'
        uses: nais/docker-build-push@87f920b0411b987d9a1fd4113aa384e1e3b54f2c
        id: docker-build-push
        with:
          team: vaktor

  deploy-dev:
    name: Deploy to dev
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: nais/deploy/actions/deploy@fa754451577294aae42872a69b888b3470478ec1
        env:
          CLUSTER: dev-gcp
          RESOURCE: .nais/dev.yaml
          WORKLOAD_IMAGE: ${{ needs.build.outputs.image }}

  deploy-prod:
    name: Deploy to prod
    needs:
      - build
      - deploy-dev
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: nais/deploy/actions/deploy@fa754451577294aae42872a69b888b3470478ec1
        env:
          CLUSTER: prod-gcp
          RESOURCE: .nais/prod.yaml
          WORKLOAD_IMAGE: ${{ needs.build.outputs.image }}
